<ng-container *ngIf="data$ | async as data">
<div id="login">
    <div *ngIf="data.backendErrors"  class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error</strong>       {{ getFirstError(data.backendErrors) }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div  id="FormContainer">
        <div class="ImgContainer">
        </div>
        <form [formGroup]="formLogin" (ngSubmit)="signIn()"  id="Form">
            <h1 id="FormHeading">Sign In</h1>
            <div class="social-buttons">
                <button><i class="fa-brands fa-google"></i> Use Google</button>
                <button><i class="fa-brands fa-facebook-f"></i> Use Facebock</button>
            </div>
            
            <div class="separator">
                <div class="line"></div>
                <p>Or</p>
                <div class="line"></div>
            </div>
            <div>
                <label>Email:</label>
                <input formControlName="email"  type="email" placeholder="example@gmail.com"> 
                <strong class="text-danger" *ngIf="formLogin.get('email')?.invalid && formLogin.get('email')?.touched">
                    Email must be a valid email address.
                </strong>
            </div>
            <div >
                <label>Password:</label>
                <input formControlName="password" type="password" placeholder="********">
                <strong class="text-danger" *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.touched">
                    Password is required.
                </strong>
            </div>

            <button type="submit">Login In</button>
            
            <p class="ms-1">create an account <a routerLink="/register" class="ms-2 text-decoration-underline ">Sign Up</a></p> 
            
        </form>
    
    </div>
</div>
</ng-container>