<div id="login">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <div  id="FormContainer">
        <div class="ImgContainer">
        </div>
        <form id="Form">
            <h1 id="FormHeading">Sign In</h1>
            <div class="social-buttons">
                <button><i class="fa-brands fa-google"></i> Use Google</button>
                <button><i class="fa-brands fa-facebook-f"></i> Use Facebock</button>
            </div>
            
            <div class="separator">
                <div class="line"></div>
                <p>Or</p>
                <div class="line"></div>
            </div>
            <div>
                <label>Email:</label>
                <input type="email" placeholder="example@gmail.com"> 
            </div>
            <div >
                <label>Password:</label>
                <input type="password" placeholder="********">
            </div>

            <button type="submit">Login In</button>
            
            <p class="ms-1">create an account <a routerLink="/register" class="ms-2 text-decoration-underline ">Sign Up</a></p> 
            
        </form>
    
    </div>
</div>
