<div  id="save-task-container">

    <form id="save-task-form">
            
        <div class="flex justify-start">
             <h2 class="font-bold">Add Task</h2>
        </div>
        <div class="grid grid-cols-1 mt-4">
            <div class="">
                <label for="title" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Title</label>
                <input type="text"  name="title"  class="block w-full mt-1 text-sm border-gray-300 rounded-md dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            </div>
        </div>
        <div class="grid grid-cols-1 mt-4">
            <div class="">
                <label for="description" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Description</label>
                <textarea id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your description here..."></textarea>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div class="">
                <label for="startDate" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Start Time</label>
                <input type="datetime-local"  name="startDate"  class="block w-full mt-1 text-sm border-gray-300 rounded-md dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            </div>
            <div class="">
                <label for="endDate" class="block text-sm font-medium text-gray-700 dark:text-gray-400">End Time</label>
                <input type="datetime-local"  name="endDate"  class="block w-full mt-1 text-sm border-gray-300 rounded-md dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            </div>
        </div>
        <div class="grid grid-cols-1 gap-4 mt-4">
            <div class="">
                <label for="assignedTo" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Assigned To </label>
                <select id="assignedTo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="">Select Location</option>
                    <option value="">Location 1</option>
                    <option value="">Location 2</option>
                    <option value="">Location 3</option>
                </select>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-4 mt-4">
            <div class="">
                <label for="tags" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Tags</label>
                <input  type="text"  name="tags"  class="block w-full mt-1 text-sm border-gray-300 rounded-md dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            </div>
        </div>
        <div class="flex justify-end align-center my-4 ">
            <button type="button"  class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">save</button>
            <button  type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Close</button>
        </div>
    </form>
</div>